*{
    font-family: 'Merriweather', serif;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
}


.section-title{
font-size: 2.25rem;
font-weight: 800;


}
.title{
    display: flex;
}
header .title img{
    width: 28.724px;
height: 33.516px; 
margin-top: 46px;
margin-right: 10px;
}


nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 170px;
   margin-right: 170px;
}
nav > ul{
    display: flex;
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px; 
}
nav li{
    list-style: none;
    
   
}
nav li a{
    text-decoration: none;
    color: #424247;
}
.menu-img{
   
display: none; 
}
.banner{
    background-image:url(../Images/Group\ 13\ .png);
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin-left: 170px;
    margin-right: 170px;
    justify-content: center;
    background-repeat: off;
    background-color: gray;
    background-blend-mode: multiply;
    border-radius: 16px;
}
.ban-head{
    color: #FFF;
font-size: 3.75rem;
font-weight: 800;
line-height: normal; 
padding-top: 106px;
padding-left: 287px ;
margin-bottom: 0px;
}
.ban-description{
    width: 676px; 
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 270px;

}
.background{
    width: 800px;
    height: 84px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30); 
margin-left: 185px;
margin-top: 50px;

}
.selection{
display: flex;
justify-content: center;
gap:24px;
padding-top: 16px ;
}
#select1, #select2{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF; 
color: rgba(19, 19, 24, 0.50);

}
#select2{
    border: none;
background: #FF5400; 
color: #FFF;
}
.section2{
    margin: 80px;
    margin-left: 170px;
    margin-right: 170px;
}
.tour-details{
    width: 720px;
height: 500px; 
text-align: justify;
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.tour-head{
    color: #131318;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal; 
}
.tour-img{
    width: 540px;
height: 550px
}
.tours{
    display: flex;
    gap: 60px;
}
.tour-btn{
    border: none;
    background: #FF5400; 
    color: #FFF;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    font-size: 16px;
}
.row{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;

}
.section3{
    margin-left: 170px;
   margin-right: 170px;
   margin-top: 150px;
  
}
.des-head{
    text-align: center;
font-size: 40px;
font-weight: 800; 
}
.des-pera{
    width: 643px;
    margin-left:250px ;
}
.section3 p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 50px;
}
.des-pera{
    width: 643px;
}
  .class{
    position: relative;
    text-align: center;
  }  
        
 .caption {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }
    .section4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
        margin-left: 150px;
        margin-right: 100px;

    }

    .box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

    }

    .box img {
        padding-top: 32px;
        height: 64px;
    }

    .box1 {
        width: 573px;
        height: 284px;
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
        
    }

    .box2 {
        width: 573px;
        height: 284px;
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
    }

    .box3 {

        margin-top: 24px;
        width: 573px;
        height: 284px;
        align-items: center;
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
    }

    .box3 img {
        padding-top: 32px;
        
        width: 72px;
    }

    h1 {
        color: #131318;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
      
        margin-bottom: 16px;
    }

    .box-content {
        padding-left: 32px;
        align-items: ;
    }

    .box-content>.c-description {
        max-width: 486px;
        color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;


    }
    .section6{
        margin-top: 80px;
    }
.news{
    width: 474px;
    height: 422px; 
    border-radius: 16px;
border: 1px solid #FF5400; 
margin-left: 170px;
}
.section6 h1{
    color: #131318;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-left: 40px; 
}
.section6 p{
    width: 350px;
color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding-left: 40px; 
}
.section6 hr{
    width: 393px;
height: 1px; 
}
.input5 input {
        width: 390px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-left: 38px;
    border: none;

    
}
.tour-btn2{
    width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
margin-left: 38px; 
border: none;
color: #FFF;
font-size: 20px;
}
.letter{
    display: flex;
    gap: 10px;
    
}
.section6  div img{
    margin-right: 170px;
}
.image-content {
    background-image: url(../Images/Rectangle\ 8\ \(1\).png);
    width: 672px;
    height: 422px;
    position: relative;
}

.corner {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    top: 60%;
    left: 50%;
}

.corner p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.corner h2 {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.footer{
    width: 1500px;
    height: 550px;
    background: rgba(19, 19, 24, 0.05); 
    margin-top: 100px;
}
.ftitle{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    gap: 10px;
}
.foot-p p{
    max-width: 800px; 
    color: #5A5A5D;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding-left: 340px;
}
.footer-png{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer hr{
    width: 872px;
height: 1px;
background: rgba(19, 19, 24, 0.10); 
}
.footer-head-section2{
color: #131318;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal; 
text-align: center;
}

@media screen and (max-width: 600px) 
{
    *{
    
    }
    header{
        flex-direction: column;
      
    }
    
    nav > ul > li{
        display: none;
    }
    .title{
        font-size: 1rem; 
    }
   
    .menu{
        display: flex;
        justify-content: space-between;
        margin: -150px;
    }
    .menu-img{
        display:block;
        width: 50px;
        height: 50px;
        margin-right: -280px;
    }
    
     .banner {
       display:flex ;
       flex-direction: column;
       width: 450px;
    height: 483px; 
       margin-left: 18px;  
    }
    .ban-description{
        font-size: 14px;
        margin-left: -195px;
        width: 304px;
    }
    .ban-head{
        font-size: 22px;
        margin-top: -350px;
        margin-left: -165px;
    }
    .background{
        background:rgba(255, 255, 255, 0.30);
        height: 0;
        weight: 0;
     }
    
    .selection{
        flex-direction: column;
        width: 255px;
        height: 52px;
        margin-top: 80px;
        margin-left: -50px;
    }

    .tours{
        display:flex ;
       flex-direction: column;
       width: 100%;
    }
    .tour-head{
        font-size: 20px; 
    }

    .tour-details{
        width: 430px;
        margin-left: -145px;
        font-size: 14px;
    }
    .tour-img{
    width: 430px;
    height: 442px;
    flex-shrink: 0;
    border-radius: 16px; 
    margin-left: -145px;
    margin-top: 60px;
    }
    .section3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 15px;

    }
    .row{
        flex-direction: column;
        height: auto;
        margin-left: 0px;
        width: 335px;
    }
    .row img{
        width: 335px;
    height: 176px; 
    }
    .des-head{
        color: #131318;
    font-size: 20px;
    font-weight: 800;
    line-height: normal; 
    }
    .des-pera{
        color: rgba(19, 19, 24, 0.70);
        max-width: 400px;
       margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    
    }
    .section4 .box{
        display: block;
        flex-direction: column;

    }

    .section4>.description {
        text-align: center;
    }

    .box-content h4 {
        text-align: left;
    }
   
    .box1 {
        /* max-width: 335px; */
        width: 450px;
        height: 289px;
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
        margin-bottom: 16px;
        margin-left: -60px;
        padding: 1%;
    }

    .box2 {
        /* max-width: 335px; */
        width: 450px;
        height: 289px;
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
        margin-bottom: 16px;
        margin-left: -60px;
        padding: 1%;
    }

    .box3 {
        /* max-width: 335px; */
        width: 450px;
        height: 289px;
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
        margin-bottom: 16px;
        margin-left: -60px;
        padding: 1%;
    }



    .box-content .c-description {
        text-align: left;


    }

    .box img {
        padding-top: 32px;
        height: 48px;
    }

    .box3 img {
        padding-top: 32px;
        height: 48px;
    }

    h4 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    
 .letter{
    display: block;
    flex-direction: column;
   
 }
 .news{
    margin-left: 0px;
    margin-bottom: 20px;
 }
.footer{
    width: 465px;
height: 400px;
   
}
.ftitle img{
    width: 28.724px;
height: 33.516px; 
}
.ftitle h3{
font-size: 21.543px;
height: 27px;
weight:120px;
margin-top: 0px;
}
.foot-p p{
    width: 287px;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
margin-left:-255px;

}
.footer-png{
    width: 174.322px;
height: 24px;
margin-top: 0;
margin-left:150px;
}
.footer hr{
    width: 174.322px; 
}



}